<p>Please edit your profile on this page</p>
<form action="users" method="POST">
    <div class="form-group">
          <label for="name">Nick Name: </label>
        <input type="text" value="{{name}}" class="form-control" name="name" id="name">
    </div>
    <div class="form-group">
          <label for="name">Instagram: </label>
        <input type="text" value="{{instagram}}" class="form-control" name="instagram" id="instagram">
    </div>
    <div class="form-group">
          <label for="name">Twitter: </label>
        <input type="text" value="{{twitter}}" class="form-control" name="twitter" id="twitter">
    </div>
    <div class="form-group">
          <label for="name">Why you want to join this network: </label>
        <input type="text" value="{{message}}" class="form-control" name="message" id="message">
    </div>
    <button class="btn btn-primary btn-sm">SAVE</button>
</form>

<p>Review <a href="/users/{{username}}" target="_blank">your profile</a> here</p>
<p>Delete <a href="delete/{{username}}">your account</a> here</p>
<p>Back to <a href="/">homepage</a></p>